body {
    margin: 0;
}

.home-layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

#nav-bar {
    background-color: red;
    grid-row: 1 / -1;
    height: 100vh;
}

#status-bar {
    background-color: blue;
}

#main-content {
    background-color: green;
}