* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.grid-wrapper{
    display: grid;
}

.flex-wrapper{
    display: flex;
}

.home {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.nav-sections{
    flex-direction: column;
    padding-top: 15px;
    padding-left: 20px;
}

#nav-bar {
    background-color: red;
    grid-row: 1 / -1;
    height: 100vh;
}

.title .nav-option{
    flex-direction: row;
}

.title>p {
    margin: 0;
    margin-left: 10px;
    font-size: 2em;
    line-height: 2em;
}

.nav-option {
    padding-left: 10px;
}

.nav-option>p {
    margin-left: 20px;
}
.new-section {
    margin-top: 30px;
}

.icon-sm {
    height: 35px;
}

.icon-lg {
    height: 55px;
}

#status-bar {
    background-color: blue;
}

#main-content {
    background-color: green;
}

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  